.swipeMain {
    height        : 100vh;
    width         : 100%;
    display       : flex;
    flex-direction: column;
    user-select   : none;
}

.monthHeader {
    height          : 200px;
    position        : relative;
    background-color: #336feb;
    box-shadow      : 0px 3px 3px -2px rgb(0 0 0 / 10%), 0px 3px 4px 0px rgb(0 0 0 / 7%), 0px 1px 8px 0px rgb(0 0 0 / 6%);
    display         : flex;
    flex-direction  : column;
    border-radius   : 20px;
    overflow        : hidden;
    padding         : 20px 0;
    width:98%;
    margin:0 1%;
}

.monthHeader h5 {
    color         : #ddd;
    font-size     : 18px;
    letter-spacing: 5px;
    font-weight   : 600;
    color         : #cde1fc;
    margin        : 5px 0 0 30px;

}

.swipeContent {
    position           : relative;
    flex               : 1 1 auto;
    /* background-color: #fff; */
    text-align         : center;
    border-radius      : 5px;
}

.rangeTitle {
    color              : #fff;
    /* background-color: #0052a2; */
    letter-spacing     : 2px;
    font-size          : 18px;
    /* box-shadow      : 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%); */
    transition         : all 0.3s ease-out;
}

.rangeTitle p {
    position        : relative;
    display         : inline-block;
    background-color: #153dc8;
    padding         : 10px 20px 10px 35px;
    margin          : 0 0 0 30px;
    border-radius   : 20px;
    font-size       : 14px;
}

.rangeTitle p::before {
    position        : absolute;
    content         : '';
    width           : 10px;
    height          : 10px;
    background-color: #ff6546;
    top             : 15px;
    left            : 15px;
    border-radius   : 10px;
}

.rangeTitle h2 {
    font-size  : 34px;
    font-weight: 700;
    margin     : 5px 0 0 30px;
}


.roundTitle {
    width              : 100%;
    /* height          : 100px; */
    position           : relative;
    z-index            : 2;
    transition         : all 0.3s cubic-bezier(0, 1.41, .66, .93);
}

.roundTitle.active {
    width        : 100%;
    z-index      : 3;
    border-radius: 0;
}

.roundTitle.active .rangeTitle {
    transform: scale(2.5);
    opacity  : 0;
    position : absolute;
}

.circleRound {
    text-align     : center;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.roundTitle .selectRange {
    display: none;
    opacity: 0;
}

.roundTitle.active .selectRange {
    position       : relative;
    color          : #fff;
    display        : flex;
    width          : 100%;
    height         : 100%;
    flex           : 1 1 auto;
    justify-content: space-around;
    opacity        : 1;
    z-index        : 4;
}

.roundTitle.active .selectRange h3 {
    font-size: 20px;
}

.roundTitle .selectRange span {
    font-size: 20px;
    flex     : 1 1 auto;
    height   : 100%;
}

.roundTitle .selectRange span:hover {
    background: #ddd;
}


.detailContent {
    padding          : 50px 30px 0 30px;
    letter-spacing   : 2px;
    /* color         : #6f7782; */
    display          : flex;
    flex-direction   : column;
}

.descContent {
    background-color: #fff;
    padding         : 10px;
    position        : absolute;
    z-index         : 4;
    left            : 30px;
    top             : -55px;
    width           : calc(100% - 60px);
    display: flex;
    border-radius: 15px;
    /* box-shadow      : 0px 3px 3px -2px rgb(0 0 0 / 10%), 0px 3px 4px 0px rgb(0 0 0 / 7%), 0px 1px 8px 0px rgb(0 0 0 / 6%); */
}

.descContent div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: flex-start;
    text-align: left;
    letter-spacing: 1px;
    padding:10px;
    font-size: 12px;
    flex:1 1 auto;
    border-radius: 15px;
}

.descContent>div:nth-child(1){
    max-width:60%;
    color:#849197;
}

.descContent>div:nth-child(2){
    background-color: #f4f7fc;
}

.smallTitle {
    font-size: 12px;
    color:#849197;
    letter-spacing: 2px;
    font-weight: 600;
}

.hr {
    width:100%;
    border-color:#e8edf3;
}

.descContent div p {
    margin-top:10px;
    margin-bottom: 0;
}


.detailContent p {
    font-size: 20px;
}

.result {
    position: relative;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:#1d2939;
}

.result:before {
    content:'';
    width:10px;
    height:10px;
    display: inline-block;
    background-color: #ff6546;
    margin-right:5px;
    border-radius: 10px;
}

.detailRow {
    display        : flex;
    justify-content: space-between;
    padding        : 10px 0;
    color          : #849197;
}

.detailRow div:nth-child(2){
    font-family: 'Roboto Mono', monospace;
    position: relative;
}

.detailRow div:nth-child(2)::after {
    content: attr(data-short);
    position: absolute;
    right:0;
    color:#1d2939;
}


.detailContent p.ultimateAward,
.detailContent p.specialAward {
    color: #6493e7;
}

.iconBG {
    position       : absolute;
    z-index        : 1;
    width          : 110%;
    display        : flex;
    justify-content: center;
    opacity        : 0.05;
    font-size      : 110vw;
    margin         : -20px;
    top            : -250px;
    left           : 0;
}


.overlay {
    position: absolute;
    top     : 0;
    left    : 0;
    height  : 100%;
    width   : 100%;
    z-index : 1;
}

@media screen and (max-width: 768px) {
    .monthHeader {
        /* border-radius: 0 0 15% 15%; */
    }

    .iconBG {
        font-size: 40rem;
    }
}