

.swipeMain {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.monthHeader {
    background-color: #6493e7;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.monthHeader h2 {
    color:#ddd;
    letter-spacing: 5px;
    font-weight: 900;
    color: #c5d0e4;
}

.swipeContent {
    flex:1 1 auto;
    /* background-color: #fff; */
    text-align: center;
    border-radius: 5px;
}

.rangeTitle {
    width:80px;
    height: 80px;
    color: #ddd;
    background-color: #0052a2;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.roundTitle {
    margin-top: 40px;
    width:110px;
    height: 110px;
    background-color: #79a1e5;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    position: relative;
    z-index: 2;
}
.roundTitle::before {
    position: absolute;
    content: '';
    display: block;
    background-color: #fff;
    width: calc(100vw - 110px);
    height: 1px;
    z-index: 1;
    right:100%;
    opacity: 0.3;
}
.roundTitle::after {
    position: absolute;
    content: '';
    display: block;
    background-color: #fff;
    width: calc(100vw - 110px);
    height: 1px;
    z-index: 1;
    left:100%;
    opacity: 0.3;
}

.circleRound {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
}


.detailContent {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    color:#666;
}

.detailContent p {
    will-change: animation;
}